<h1 class="page_title"><%= @offer.name.capitalize %></h1>

<div>
  <%= image_tag(@offer.image, width:"300") %>
</div>
<div>
  <%= @offer.description %>
</div>
<div>
  <p>
    Sale Price: <%= humanized_money_with_symbol @offer.sale_price %>
  </p>
</div>
<div>
  <p>
    Actual Price: <%= humanized_money_with_symbol @offer.actual_price %>
  </p>
</div>
