<h1 class="page_title"><%= @offer.name.capitalize %></h1>

<div>
  <%= image_tag(@offer.image, width:"300") %>
</div>
<div>
  <%= @offer.description %>
</div>
<div>
  <%= @offer.sale_price %>
</div>
<div>
  <%= @offer.actual_price %>
</div>
