<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Groupwnd</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,500italic,500" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="app-header">
    <div class="container">
      <h1 class="app-title">
        <%= link_to root_path do %>
          App
        <% end %>
      </h1>
      <%= form_tag search_path, class: "location-search", method: :get do %>
        <%= search_field_tag :search, params[:search], placeholder: "New York, NY" %>
        <%= submit_tag "Search" %>
      <% end %>
      <nav class="app-nav">
        <ol>
          <li>
            <%= link_to "Offers", offers_path %>
          </li>
          <% if signed_in? %>
            <li>
              <%= link_to "My Account", user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Sign out", session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign in", new_session_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_path %>
            </li>
          <% end %>
        </ol>
      </nav>
    </div>
  </header>

  <main class="app-main">
    <div class="container">
      <%= yield %>
    </div>
  </main>

</body>
</html>
